<div class="about-container">
    <div class="about-text">
      <h1>Sobre mi</h1>
      <p>Soy un desarrollador web apasionado y dedicado con [número] años de experiencia en la creación y optimización de sitios web dinámicos y aplicaciones web. Mi enfoque se centra en la usabilidad, la funcionalidad y la estética, asegurando que cada proyecto no solo cumpla con las expectativas del cliente, sino que también ofrezca una experiencia de usuario excepcional.</p>
  
    </div>
    <div class="about-image">
      <img src="/assets/foto.JPG" alt="Profile Image">
    </div>
  </div>
  <div class="container">
    <h2>Habilidades</h2>
    <div class="skills">
      <div class="skill">
        <img src="/assets/angular.png" alt="Angular">
        <p>Angular</p>
      </div>
      <div class="skill">
        <img src="/assets/java.JPG" alt="Java">
        <p>Java</p>
      </div>
      <div class="skill">
        <img src="/assets/html.JPG" alt="HTML">
        <p>HTML</p>
      </div>
      <div class="skill">
        <img src="/assets/javascript.JPG" alt="JavaScript">
        <p>JavaScript</p>
      </div>
      <div class="skill">
        <img src="/assets/mongo.JPG" alt="MongoDB">
        <p>MongoDB</p>
      </div>
      <div class="skill">
        <img src="/assets/py.JPG" alt="Python">
        <p>Python</p>
      </div>
      <div class="skill">
        <img src="/assets/postgres.JPG" alt="PostgreSQL">
        <p>PostgreSQL</p>
      </div>
    </div>
  </div>
  
  <div class="container">
    <h2>Proyectos</h2>
    <div class="project-grid">

      <div class="project">
        <h3>Proyecto 1</h3>
      </div>
      <div class="project">
        <h3>Proyecto 2</h3>
      </div>
      <div class="project">
        <h3>Proyecto 3</h3>
      </div>
 
    </div>
  </div>
  <div class="container">
    <h2>Contactame</h2>
    <form>
      <input type="text" placeholder="Nombre" name="nombre">
      <input type="text" placeholder="Apellidos" name="apellidos">
      <input type="email" placeholder="Correo electrónico" name="email">
      <textarea placeholder="Comentario"></textarea>
      <button type="submit">Enviar</button>
    </form>
  </div>