.about-container {
    display: flex;
    align-items: center;
    background-color: #003B51;
    color: white;
    padding: 20px;
    border-radius: 8px;
  }
  
  .about-text {
    flex: 1;
  }
  
  .about-image img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  
  p {
    margin: 0.5em 0;
  }
  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-items: center;
  }
  
  .skill {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .skill img {
    max-width: 100px;
    height: auto;
  }
  
  .skill p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .skill:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .project {
    padding: 30px;
    margin: 10px;
    background-color: #555; /* Ajusta según tu diseño */
  }
  /* styles.css */

/* Estilos generales del formulario */
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

/* Estilos de los campos del formulario */
form .form-group {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Estilos de los botones */
form button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

/* Estilos de los mensajes de error */
form .error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

form .success-message {
  color: green;
  font-size: 14px;
  margin-top: 5px;
}
